$main: #193C2A;
$main_H: #091b12;
$sub: #6D7571;
$sub_H: #424242;
$gray: #363636;
$crit: #E84D2E;
$crit_H: #C4462C;
$edit: #EE8400;
$edit_H: #b86a0a;
$success: #00A651;
$success_H: #007A3B;
$alert: #FEC006;
$alert_H: #ca9800;
$common: #5C7B7B;
$common_H: #405353;
$BG: #F8FFF6;
$disabled: #F5F5F5;

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: $success;
}

.login {
    &__layout {
        // border: 1px solid red;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__loginform{
        // border: 1px solid red;
        width: 400px;
        height: 500px;
        text-align: center;
    }
    &__input{
        margin: auto;
        display: block;
        height: 40px;
        width: 300px;
        padding: 10px 15px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid $gray;
        outline: 0;
    }
    &__button{
        margin: auto;
        display: block;
        height: 40px;
        width: 300px;
        border-radius: 5px;
        outline: 0;
        border: 0;
        background-color: $success;
        transition: 0.4s;
        color: white;
        &:hover {
            background-color: $success_H;
            transition: 0.4s;
        }
    }
    &__title{
        margin: auto;
        display: block;
        height: 40px;
        width: 300px;
        margin-bottom: 50px;
        color: $main;
    }
}

.page {
    &__layout {
        // border: 1px solid red;
        width: 100%;
        height: 100vh;
      
    }
    &__header{
        height: 60px;
        width: 100%;
        // border: 1px solid red;
    }
    &__body {
        // border: 1px solid orange;
        height: calc(100vh - 60px);
        // background-color: $BG;
    }
}
.header{
    &__layout{
        // border: 1px solid red;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__div1 {
        // border: 1px solid violet;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
    }
    &__div2 {
        // border: 1px solid orange;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;

    }
    &__title{
        font-weight: bold;
        font-size: 20px;
        color: $main;
        
    }
    &__logout {
        color: $main;
        margin-left: 30px;
        background-color: $success;
        color:white;
        font-size: 15px;
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        // border:1px solid red;
    
    }
}
.notes{
    &__layout{
        // border: 1px solid red;
        height: calc(100vh - 60px);
        width: 100%;
        padding: 25px;
        

    }
    &__holder {
        padding: 10px;
        // border: 1px solid orange;
        display: inline-block;
        width: calc(100% / 5);
        position: relative;
    }
    &__note{
        height: fit-content;
        background-color: #ffffff;
        width: 100%;
        display: block;
        padding: 10px 15px;
        border: 1px solid #d4d4d4;
        border-radius: 5px;
    }
    &__dropDown {
        width: 150px;
        height: fit-content;
        border-radius: 5px;
        background: white;
        position: absolute;
        top: 190px;
        right: 25px;
        z-index: 1;
        padding: 10px 0px;
        box-shadow: 0px 0px 10px 0px #4f4f4f75;
    }
    &__statuss {
        padding: 5px 10px;
        font-size: 12px;
        text-align: center;
        border-left: 5px solid transparent;
        &:hover {
            border-left: 5px solid $common;
            background: #5c7b7b27;
        }
        cursor: pointer;
    }
    &__button{
        height: 30px;
        border-radius: 5px;
        width: fit-content;
        background-color: $common;
        transition: 0.4s;
        color: white;
        font-size: 12px;
        font-weight: bolder;
        outline: 0;
        border: 0;
        padding: 0px 10px 0px 10px;
        display: flex;
        justify-content: center;
        align-items: right;
       
    }
    &__scroller {
        // border: 1px solid red;
        height: calc(100vh - 147px);

        overflow-y: auto;
        overflow-x: hidden;
        // background: $BG;
    }
    &__filter {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        // justify-content: flex-end;
        justify-content: left;
        border-bottom: 3px solid $success;
        margin-bottom: 25px;
    }
    &__filterButton {
        color: $sub;
        outline: 0;
        border: 0;
        border-radius: 5px 5px 0 0;
        padding: 5px 20px;
        margin-right: 5px;
    }
    &__filter_button{
        width: 50%;
    }
    &__filter_search{
        justify-content: flex-end;
        align-items: center;
        display: flex;
        // border: 1px solid red;
        width: 50%;  
    }
    &__searchbar{
        height: 30px;
        width: 300px;
        padding: 10px 15px;
        border-radius: 5px;
        border: 1px solid $success;  
        outline: 0;     
    }
    &__header{
        height: 40px;
        width: 100%;
        // border:1px solid red;
        display: flex;
        justify-content: flex-start;
        align-items:center ;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        // padding-left: 10px;
        font-size: 18px;
        font-weight: bolder;
    }
    &__body{
        height: calc(100% - 80px);
        width: 100%;
        // padding: 10px;
        font-size: 12px;
        // border:1px solid red; 

    }
    &__footer{
        height: 40px;
        width: 100%;
        // border:1px solid red; 
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        // padding-left: 10px;
        // padding-right: 10px;
      

    }
}
.notesCrit {
    background-color: $crit;
    color: white;
    &:hover {
        background-color: $crit_H;
        transition: 0.4s;
    }
}
.notesSuccess {
    background-color: $success;
    color: white;
    &:hover {
        background-color: $success_H;
        transition: 0.4s;
    }
}
.notesCommon {
    background-color: $common;
    color: white;
    &:hover {
        background-color: $common_H;
        transition: 0.4s;
    }
}
.notesEdit {
    background-color: $edit;
    color: white;
    &:hover {
        background-color: $edit_H;
        transition: 0.4s;
    }
}
.notesAll {
    background-color: $main;
    color: white;
    &:hover {
        background-color: $main_H;
        transition: 0.4s;
    }
}
.notesSub {
    background-color: $sub;
    color: white;
    &:hover {
        background-color: $sub_H;
        transition: 0.4s;
    }
}

.chosenTab {
    background-color: $success;
    color: white;
}